<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="application-name" content="Doggofier">
        <meta name="author" content="Michal Kuzniewicz">
        <meta name="description" content="The image classifier for dog breeds">
        <meta name="keywords" content="AI, CNN, PyTorch">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link 
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
        >

        <title>
            Doggofier - the image classifier for dog breeds
        </title>

    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">
                <a class="text-dark" href="/">Home</a>
            </h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/about">About project</a>
            </nav>
            <a class="btn btn-outline-primary" href="https://github.com/mickuz/doggofier">GitHub</a>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div class="container">
            <footer class="pt-4 my-md-5 pt-md-3 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <small class="d-block mb-3 text-muted">
                            &copy; Michał Kuźniewicz, 2021
                        </small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="https://cg.cs.tsinghua.edu.cn/ThuDogs/">Dataset</a>
                            </li>
                            <li>
                                <a class="text-muted" href="https://arxiv.org/abs/1512.03385/">ResNet-50</a>
                            </li>
                            <li>
                                <a class="text-muted" href="https://arxiv.org/abs/1409.1556">VGG-16</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About me</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="text-muted" href="https://www.github.com/mickuz">GitHub</a>
                            </li>
                            <li>
                                <a class="text-muted" href="https://www.linkedin.com/in/mickuz">LinkedIn</a>
                            </li>
                            <li>
                                <a class="text-muted" href="https://twitter.com/LostOutlier">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        <script 
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"
        ></script>
        <script>
            $("#inputGroupFile").on(
                "change", function () {
                    let fileName = $(this).val();
                    fileParts = fileName.split(/\/|\\/);
                    let name = fileParts[fileParts.length - 1];
                    console.log(fileParts);
                    $(this).next(".custom-file-label").html(name);
                });
        </script>
        <script>
            $(document).ready(
                function() {
                    $('input:file').change(
                        function() {
                            if ($(this).val()) {
                                $('input:submit').attr('disabled', false);
                            }
                        }
                    );
                });
        </script>
    </body>
</html>